@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right, #6DD5FA, #B721FF);
    height:100%;
}

body {
    color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
  }